.city {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;


}

#london {
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
}

#paris {
     font-size: 20px;
    font-weight: bold;
    background-color: rgb(233, 245, 207);



}

#tokyo {

    font-size: 20px;
    font-weight: bold;
    background-color: rgb(252, 190, 190);
}

body { background-color: lightskyblue;
}

.round-img {
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
border: 2px solid #ccc;
}

.round-img {
width: 200px;
height: 200px;
border-radius: 50%;
object-fit: cover;
border: 2px solid #ccc;

}
.city-image{
    border-radius: 50%;
}